{% extends 'base.html' %}
{% load static %}

{% block title %} About Page.. {% endblock title %}

{% block content %}
<div class="container-fluid">
<h2>ABOUT US</h2>
       <p> PVR Travells offer a variety of travel medical and trip cancellation insurance plans to meet the needs of individuals, groups, and organizations across the globe.

        
    For over 23 years, we've been on a mission to make unexpected travel mishaps and emergencies less stressful for travelers.
     Our travel insurance plans can provide you with financial compensation, access to quality healthcare, 
     and 24/7 emergency travel assistance to guide you through the unexpected as you explore the world.</p>
</div>
{% endblock %}